<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb4 tc">Drop us a line below</h4>

  <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
    <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </p>
      <!-- Name -->
    <div class="mb4">
      <fieldset>
        <input type="text" id="name" name="name" placeholder="Company Name" class="w-100 mb2">
        <label for="name">Company Name</label>
      </fieldset>
    </div>
    <div class="mb4">
      <fieldset>
        <input type="text" id="contact-name" name="contact" placeholder="Contact Name" class="w-100 mb2">
        <label for="name">Contact Name</label>
      </fieldset>
    </div>
    <!-- Email -->
    <div class="mb4">
      <fieldset>
        <input type="email" id="email" name="email" placeholder="Contact Email" class="w-100 mb2">
        <label for="email">Contact Email</label>
      </fieldset>
    </div>

    <div class="mb4">
      <fieldset>
        <input type="number" id="number" name="number" placeholder="Contact Number" class="w-100 mb2">
        <label for="number">Contact Number</label>
      </fieldset>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc mt3">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>