<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<img src="/img/logo.svg" alt="Day Lumber logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-center">
			<div class="ph4">
				<h3 class="f4 b lh-title mb1 underline">Day Lumber</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
				</ul>
			</div>

			<div class="ph4">
				<h3 class="f4 b lh-title mb1 underline">Find out more</h3>
				<ul class="mb3">
					<li><a href="/request-quote" class="link">Request a Quote</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
