<div class="flex-m mhn3-m mb4 mw7 flex flex-col">
  <div class="ph3-m order-last-m mb4 flex-auto w-100-m">
    <img src="{{.imageUrl}}" alt="" class="db mb2">
  </div>

  <div class="ph3-m flex-auto w-100-m">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    {{ if .text }}
      <p>{{.text}}</p>
    {{ end }}

    {{if .list}}
      <ul class="list ml3">
        {{ range .list }}
          <li class="list-item ml1">{{ .item }}</li>
        {{end}}
      </ul>
    {{ end }}
  </div>

</div>
