.list-item {
  padding: 2px 0;
  list-style-type: disc;
}

.four-oh-four {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.four-oh-four-title {
  font-size: 40px;
  display: block;
}

.four-oh-four > h2 > a {
  display: block;
  margin-top: 40px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bar {
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 20px 0;
}

.contact-bar > div {
  margin-top: 8px;
}

.contact-bar > div > a {
  line-height: 1;
  text-decoration: none;
  padding-top: 4px;
}

.contact-bar > a:hover {
  cursor: pointer;
}

li {
  position: relative;
}

ul > li > .dropdown {
  visibility: hidden;
opacity: 0;
min-width: 7rem;
  position: absolute;
transition: all 0.5s ease;
  left: 0;
  text-align: center;
display: none;
}

.dropdown-list {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}


.dropdown-list:hover,
.dropdown-list:focus-within {
  cursor: pointer;
}

.dropdown-list:focus-within a {
outline: none;
}

ul li:hover > .dropdown,
ul li:focus-within > .dropdown,
ul li .dropdown:hover,
ul li .dropdown:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.flex-two {
    display: flex;
    flex-wrap: nowrap;
}

.flex-child {
  width: 40%;
}