{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<iframe class="db w-100 center pv4 flex-center" width="1000" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ getenv 'API_KEY' }}" allowfullscreen></iframe>
		{{ .Content }}

		{{ getenv "HOME" }}

		<div class="flex-ns mb4">
				{{ range .Params.contact_entries }}
				<div class="flex-auto-ns pa2">
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					{{ if .subheader }}
						<h5 class="f5 b lh-title mb2 primary">{{ .subheader }}</h5>
					{{ end }}
					<p>
						{{ .text }}
					<br>
						{{ .additionalText }}
					</p>
				</div>
			{{ end }}
		</div>

		<h4 class="f4 b lh-title mb2 primary ml2">{{ .Params.hours }}</h4>

		<div class="flex-ns mb4">
			{{ range .Params.secondary_entries }}
				{{ range .contact }}
					<div class="flex-auto-ns pa2">
						<h4 class="f4 b lh-title mb2 primary">{{ .header }}</h4>
						<h5>
							{{ .text }}
							<br>
							{{ .hours}}
						</h5>
					</div>
				{{ end }}
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
